/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.body{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    overflow: scroll;
    background: #F3E6D5;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

/* Header style start */

.header{
    background-color: #DDC9AE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
}
.header__wrapper{
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.header__link{
    font-size: 21px;
    line-height: 25px;
    color: black;
    text-decoration: none;
}

.header__link1{
    font-size: 21px;
    line-height: 25px;
    color: black;
    text-decoration: none;
}

.header__nav{
    align-self: center;
}
.header__list{
    display: flex;
}

.header__item{
    margin-right: 40px;
    margin-left: 40px;
    display: inline-block;
    font-weight: 500;
}
.header__logo{
    align-self: center;
    margin-left: 90px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.header__callback{
    align-self: center;
    margin-right: 90px;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    cursor: pointer;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.header__burger{
    display: none;
    align-self: center;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #292D32;
    position: absolute;
    left: 0;
}

.burger__line_first{
    top:0;
}

.burger__line_third{
    bottom: 0;
}

.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}
/* Header style end */

/* Intro style start */

.intro{
    width: 100%;
    background: #F3E6D5;
    font-family: 'Inter';
    font-style: normal;
    padding-top: 135px;
}

.intro__title-photo{
    position: relative;
    height:100%;
    overflow: hidden;
    text-align: center;
}

.intro__title-photo img{
    height:100%;
    text-align: center;
}
.intro__inner{
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    font-size: 20px;
}
.intro__title{
    font-weight: 600;
    font-size: 66px;
    line-height: 80px;
    color: #FDE7D3;
    text-shadow: 5px 5px 5px rgba(215, 133, 37, 0.5);
}

.intro__subtitle{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FDE7D3;
    text-shadow: 5px 5px 5px rgba(215, 133, 37, 0.5);
}
/* Intro style end */

/* History style start */

.history{
    width: 100%;
    background: #F3E6D5;
}

/*.hist__wrapper{*/
/*    padding-top: 170px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.hist_items{
    padding-top: 170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.history__text{
    /*padding-top: 170px;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/

    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.history__photo{
    margin: 0 auto;
    text-align: center;

}
.history__line{
}

.history__ourhistory{
    width: 367px;
    height: 42px;
    left: 736px;
    top: 143px;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    padding-bottom: 70px;
}

.history__ourhistory:after{
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background-color: black;
}

.history__story{
    width: 635px;
    height: 528px;
    left: 90px;
    top: 320px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
}

/* History style end */

/* Menu style start */

.menu{
    width: 100%;
    background: #F3E6D5;
    padding-top: 170px;
}

.menu__header{
    text-align: center;
}

.menu__title{
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: #000000;
}

.menu__title:after{
    margin: 35px auto;
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background-color: black;
}

.menu__positions{
    display: flex;
    flex-wrap: wrap;
}

.menu__positions_addition{
    margin-top: 15px;
    font-weight: 200;
    font-size: 23px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.menu__positions_column{
    flex: 1;
    margin-bottom: 60px;
    margin-left: 10%;
}

.menu__positions_column_title{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 22px;
}
.menu__positions_column_item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 5px;

    font-size: 27px;
    line-height: 33px;
    color: #000000;
}

.menu__positions_column_second:last-child{
    margin-top: 60px;
}

/* Menu style end */

/* Whywe style start */

.whywe{
    background: #F3E6D5;
    height: 100vh;
    padding-top: 170px;
}

.whywe__header{
    width: 100%;
    margin: 0 auto 60px;
    max-width: 665px;
    text-align: center;
}
.whywe__title{
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 30px;
}

.suptitle{
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
}
.whywe__suptitle{
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
}


.whywe_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.whywe__item{
    width: 33%;
    text-align: center;
}

.whywe_items__img{
    margin-bottom: 20px;
}
.whywe_items__title{
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.whywe_items__text{
    margin-right: auto;
    margin-left: auto;
    max-width: 345px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
/* Whywe style end */

/* Reviews style start */

.section{
    width: 100%;
    background: #F3E6D5;
    padding-top: 170px;
}

.reviews__title{
    width: 100%;
    margin: 0 auto 60px;
    max-width: 665px;
    text-align: center;
}

.reviews__title{
    font-size: 37px;
    line-height: 45px;
}

.reviews__title:after{
    content: "";
    display: block;
    width: 600px;
    height: 3px;
    margin: 42px auto;
    background-color: black;
}

.persons{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;

}

.persons__items{
    /*flex: 1 1 0;*/
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    /*width: 50%;*/
    /*text-align: left;*/
    position: relative;
}
.person__icon{
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.persons__name{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.persons__text{
    max-width: 430px;

    font-size: 23px;
    line-height: 28px;
}

.persons__date{
    max-width: 430px;
    text-align: right;

    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: #707070;
}
/* Reviews style end */

/* Team style start */

.team__title{
    width: 100%;
    margin: 0 auto;
    max-width: 665px;
    text-align: center;
}

.team__title{
    font-size: 37px;
    line-height: 45px;
}

.team__title:after{
    content: "";
    display: block;
    width: 600px;
    height: 3px;
    margin: 35px auto;
    background-color: black;
}

.team__persons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team__items{
    align-self: center;
    text-align: center;
}

.team__name{
    margin-top: 17px;
    margin-bottom: 6px;

    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
}

.team__position{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #555555;
}
/* Team style end */

/* Instagram style start */
.instagram__header{
    width: 100%;
    margin: 0 auto 60px;
    max-width: 1021px;
    text-align: center;
}
.instagram__title{
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 30px;
}

.instagram_suptitle{
    max-width: 1021px;
    margin-right: auto;
    margin-left: auto;
}

.instagram__suptitle1{
    font-size: 27px;
    line-height: 33px;
}

.instagram__photos{
    text-align: center;
    max-width: 1440px;
    margin-left: 150px;
    margin-right: 150px;
}

.box-1{
    padding-bottom: 52px;
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    font-size: initial;
}
/* Instagram style end */

/* Geo style start */

.geo__header{
    width: 100%;
    margin: 0 auto 60px;
    max-width: 1160px;
    text-align: center;
}
.geo__title{
    height: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    /* identical to box height */

    text-align: center;
    color: #000000;
    padding-bottom: 100px;
}

.geo__title:after{
    content: "";
    display: block;
    width: 600px;
    height: 3px;
    margin: 30px auto;
    background-color: black;
}

.geo_suptitle{

    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
}

.geo_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1440px;
    margin-left: 150px;
    margin-right: 150px;
}

.geo__item{
    /*width: 25%;*/
    text-align: center;
}

.geo_items__img{
    margin-bottom: 20px;
}
.geo_items__title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.geo_items__text{
    margin-right: auto;
    margin-left: auto;
    max-width: 345px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 50px;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Geo style end */

/* Contactus style start */
.wrapper{
    padding-bottom: 50px;
}
.contactus__header{
    width: 100%;
    margin: 0 auto 60px;
    max-width: 1021px;
    text-align: center;
}
.contactus__title{
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    text-align: center;
    padding-bottom: 30px;
}

.contactus_suptitle{
    max-width: 1021px;
    margin-right: auto;
    margin-left: auto;
}

.contactus__suptitle1{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
}

.contactus__form{
    max-width: 1440px;
    padding-left: 150px ;
    text-align: left;
}
.contactus__form_submit{
    background: #070707;
    border-radius: 50px;
    width: 250px;
    height: 80px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    cursor: pointer;
}

.contactus__form__field{
    width: 800px;
    height: 70px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    margin-bottom: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    /* identical to box height */
    color: black;
}

.contactus__form__field{
    width: 800px;
    height: 100px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    margin-bottom: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    /* identical to box height */
    color: black;
}

.contactus__form__field::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    /* identical to box height */
    color: #979797;
}
/* Contactus style end */

.fott{
    padding-bottom: 10px;
    background-color: #F3E6D5;
    text-align: center;
}
.rights{
    margin-right: auto;
    margin-left: auto;
    width: 301px;
    height: 46px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}